/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Banner area */

.banner-area {
    background-color: #2D25A0;
    padding-top: 30px;

}

.banner {
    display: flex;
}

.banner-title {
    margin-left: 50px;
    font-size: 25px;
    color: #fff;
}

.banner-title a {
    color: #fff;
    text-decoration: none;
    background-color: red;
    font-size: 15px;
    padding: 5px;
}
button{
    border: 1px solid transparent;
    background-color: red;
    color: #fff;
    padding: 5px;
}
.banner-img img {
    width: 556.01px;
    height: 438px;
    margin-left: 60px;
}

/* Banner area end */

.players-area {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    width: 270px;
    height: 374px;
    background-color: antiquewhite;
    margin: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.player img {
    width: 260px;
    height: 156px;

}

/* Footer area */

.footer-area {
    background-color: aquamarine;
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.Logo-area img {
    width: 484px;
    height: 110px;
}

.social-area ul {
    list-style: none;
}

.social-area ul li {
    display: inline-block;
    text-align: center;
    margin-right: 10px;

}


/* Footer area end */